<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Chat</title>
    <script src="./jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
</head>
<body>
    <input type="text" id="txtRoom"/>
    <input type="button" id="btnTaoRoom" value="Tạo room">
    <div id="left">
        <h3>ROMS ĐANG CÓ</h3>
        <div id="dsRoom"></div>
    </div>
    <h4 id="roomHienTai">...</h4>
    <div id="right">

    </div>
</body> 
</html>