<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="jquery.js"> </script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css"/>
</head>
<body>
    <div id="wrapper">
        <div id="information">
            <input type="text" id="txtHoTen" placeholder="Ho Ten"/>
            <input type="text" id="txtEmail" placeholder="Email"/>
            <input type="text" id="txtSoDT" placeholder="Dien Thoai"/>
            <input type="button" id="btnRegister" value="Send"/>
        </div>
        <div id="listUsers">
            <h3>Danh Sách Học Viên</h3>
            <div class="ds">
                
            </div>
        </div>
    </div>
</body>
</html>